@model IEnumerable<Zara_GestionDVD.Models.DVD>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Créer Nouveau</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TitreFrancais)</th>
                <th>@Html.DisplayNameFor(model => model.Categorie)</th>
                <th>@Html.DisplayNameFor(model => model.AnneeSortie)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TitreFrancais)</td>
                    <td>@Html.DisplayFor(modelItem => item.Categorie)</td>
                    <td>@Html.DisplayFor(modelItem => item.AnneeSortie)</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#details-@item.Id" aria-expanded="false">
                            Voir plus
                        </button>
                        <div class="collapse" id="details-@item.Id">
                            <div class="card card-body">
                                <strong>Description : </strong>@Html.DisplayFor(modelItem => item.DescriptionSuppléments) <br />
                                <strong>Duree : </strong>@Html.DisplayFor(modelItem => item.Duree) <br />
                                <strong>Format : </strong>@Html.DisplayFor(modelItem => item.Format) <br />
                                <strong>Langues : </strong>@Html.DisplayFor(modelItem => item.LanguesDisponibles) <br />
                                <strong>Acteurs : </strong>@Html.DisplayFor(modelItem => item.ActeursPrincipaux) <br />
                                <strong>Sous-titres : </strong>@Html.DisplayFor(modelItem => item.SousTitresDisponibles) <br />
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
